@import "_swbptheme.scss";

.swbp-body {
	.swbp-code {
        background-color: $color-background-main;
        color: $color-text-highlight;
    }
}

.white-color { color: $white-color; }
.white-color-background { background-color: $white-color; }
.black-color { color: $black-color; }
.black-color-background { background-color: $black-color; }
.background-color-brand { background-color: $color-background-brand; }
.background-color-primary { background-color: $color-primary; }
.background-color-primary-active { background-color: $color-primary-active; }
.background-color-main { background-color: $color-background-main; }
.background-color-main-active { background-color: $color-background-main-active; }
.background-color-link { background-color: $color-link; }
.background-color-link-active { background-color: $color-link-active; }
.background-color-panel-head { background-color: $color-panel-head; }
.background-color-highlight { background-color: $color-highlight; }
.background-color-highlight-active { background-color: $color-highlight-active; }
.background-color-text-primary { background-color: $color-text-primary; }
.background-color-text-highlight { background-color: $color-text-highlight; }
.background-color-border-main { background-color: $color-border-main; }
.background-color-content { background-color: $color-background-content; }
.background-color-window { background-color: $color-background-window; }
.background-color-ok { background-color: $color-status-ok; }
.background-color-overdue { background-color: $color-status-overdue; }
.background-color-aborted { background-color: $color-status-aborted; }
/*$textColor-Primary: #3c3c3a;
$textColor-Secundary: #979797;
$accentColor: #f9ae3b;
$accentColor-Click: #f4a031;
$window-background: #e8e8eb;
$window-background-400: #1c1c1c;
$content-background: #f5f5f6;
$border-color: #d8d8d8;
$panelHead-color: #7f94a3;
$iconLogin-color: #6e7f8e;
$finished-color: #7cb342;
$pending-color: #e53935;
$aborted-color: #1e88e5;
$tableBg-color:#fff;*/