@import "_swbptheme.scss";

.static-modal { position: relative !important; display: block; }
.white-color { color: $white-color; }
.white-color-background { background-color: $white-color; }
.black-color { color: $black-color; }
.black-color-background { background-color: $black-color; }
.background-color-brand { background-color: $color-background-brand; }
.background-color-primary { background-color: $color-primary; }
.background-color-primary-active { background-color: $color-primary-active; }
.background-color-main { background-color: $color-background-main; }
.background-color-main-active { background-color: $color-background-main-active; }
.background-color-link { background-color: $color-link; }
.background-color-link-active { background-color: $color-link-active; }
.background-color-panel-head { background-color: $color-panel-head; }
.background-color-highlight { background-color: $color-highlight; }
.background-color-highlight-active { background-color: $color-highlight-active; }
.background-color-text-primary { background-color: $color-text-primary; }
.background-color-text-highlight { background-color: $color-text-highlight; }
.background-color-border-main { background-color: $color-border-main; }
.background-color-content { background-color: $color-background-content; }
.background-color-window { background-color: $color-background-window; }
.background-color-ok { background-color: $color-status-ok; }
.background-color-overdue { background-color: $color-status-overdue; }
.background-color-aborted { background-color: $color-status-aborted; }
.panel-body {
	.swbp-modal {
		.modal-dialog {
			@media (max-width: $breakpoint-small - 1) {
				margin:5px;
			}
		}
	}
}
.panel-footer {
	code, pre {
		background-color: $color-background-content;
		border: none;
	}
}